%p#notice= notice

%p
  %b Full name:
  = @consumer.full_name
%p
  %b Passport number:
  = @consumer.passport_number
%p
  %b Identity code:
  = @consumer.identity_code
%p
  %b House:
  = @consumer.house
%p
  %b House section:
  = @consumer.house_section
%p
  %b Apartment:
  = @consumer.apartment

= link_to 'Edit', edit_consumer_path(@consumer)
\|
= link_to 'Back', consumers_path
